/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  #game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }

  
  canvas {
    width: 90vw;
    height: auto;
    max-width: 600px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(216, 25, 25, 0.2);
  }
  
  @media (max-width: 768px) {
    canvas {
        width: 95vw;
    }
  }
  
  @media (max-width: 480px) {
    canvas {
        width: 100vw;
    }
  }
  